/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1; }

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 8, ../../sass/screen.sass */
body {
  background: no-repeat url(/img/paper-back.jpeg) #4e2314;
  background-position: 50% 0%;
  margin: 0px 15px 0px 0px;
  text-align: center; }

/* line 14, ../../sass/screen.sass */
#container {
  background: url(/img/paper-contents.jpeg) 0px 26px repeat-y;
  margin: 0px auto;
  text-align: left;
  padding: 0;
  width: 800px; }
  /* line 21, ../../sass/screen.sass */
  #container header {
    background: url(/img/paper-top.jpeg) no-repeat 0px 0px;
    height: 240px;
    margin-bottom: 0;
    position: relative; }
    /* line 27, ../../sass/screen.sass */
    #container header h1 {
      color: #004d0c;
      position: relative;
      margin: 0;
      padding: 150px 40px 0px 250px;
      font-size: 26px;
      text-align: center; }
    /* line 34, ../../sass/screen.sass */
    #container header h2 {
      color: #1b120c;
      margin: 0;
      padding: 25px 40px 0px 250px;
      text-align: center;
      font-size: 18px; }
  /* line 41, ../../sass/screen.sass */
  #container aside {
    background: url(/img/side-bar.jpeg) no-repeat 0px 0px;
    float: left;
    width: 250px;
    height: 383px;
    position: relative;
    border: 0;
    margin: 0;
    padding: 0;
    z-index: 10; }
    /* line 52, ../../sass/screen.sass */
    #container aside p {
      padding: 1em 0px 0px 25px; }
  /* line 55, ../../sass/screen.sass */
  #container #main {
    margin: 0px 0px 0px 200px;
    padding: 0px;
    font-size: 14px; }
    /* line 60, ../../sass/screen.sass */
    #container #main #content {
      padding: 27px;
      color: #252525; }
      /* line 63, ../../sass/screen.sass */
      #container #main #content p {
        padding: 1em; }
  /* line 66, ../../sass/screen.sass */
  #container .clearer {
    clear: both; }
  /* line 70, ../../sass/screen.sass */
  #container footer {
    margin: 0;
    padding: 0; }
    /* line 74, ../../sass/screen.sass */
    #container footer .footer {
      background: no-repeat center url(/img/paper-bottom.jpeg);
      height: 114px; }
